<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LISTA DE PELICULAS</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
         {{!-- revisas ESTOS enlaces               --}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <body>
        <!-- Sidebar-->
            <div>
                <div>API Peliculas</div>
              
                    {{>navlinks}}
                </div>
            </div>
            <!-- Page content wrapper-->
            <div > </div>
                <!-- Top navigation-->
                <!-- Page content-->
                <div >
                    {{{body}}}
                </div>
            </div>
        </div>
 
        
        
        
    </body>
</html>